nav {
    width: 100%;
    background-color: lightgrey;
    border-radius: 0 0 10px 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 5px ;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    background-color: lightgray;
    color: black;
    font-size: 1em;
}

